body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: #8f57fd;
}

* {
  box-sizing: border-box;
}

.header {
  align-items: center;
  background: #8f57fd;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.header__menu {
	margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
	display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.main__title {
  color: white;
  font-size: 25px;
}

.categories__title {
  background: #8f57fd;
  color: white;
  font-size: 16px;
  margin-top: -16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}

.carousel {
  overflow: scroll;
  padding-left: 30px;
  width: 100%;
  position: relative;
}

.carousel__container {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.carousel-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item__details {
  align-items: flex-start;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  bottom: 0;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.carousel-item__details--img {
  width: 20px;
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}

.carousel-item__details--title {
  color: white;
  margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
  color: white;
  font-size: 8px;
  margin: 3px 0px;
}

.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.input {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
}

::placeholder {
  color: white;
}

@media only screen and (max-width: 600px) {
  .main__description--title {
    font-size: 30px;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}